<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABOBloodType</key>
	<array>
		<dict>
			<key>ID</key>
			<string>1</string>
			<key>Name</key>
			<string>A型</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2</string>
			<key>Name</key>
			<string>B型</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3</string>
			<key>Name</key>
			<string>O型</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4</string>
			<key>Name</key>
			<string>AB型</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5</string>
			<key>Name</key>
			<string>不详</string>
		</dict>
	</array>
	<key>BaoLuDaiMa</key>
	<array>
		<dict>
			<key>ID</key>
			<string>1</string>
			<key>Name</key>
			<string>无</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2</string>
			<key>Name</key>
			<string>化学品</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3</string>
			<key>Name</key>
			<string>毒物</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4</string>
			<key>Name</key>
			<string>射线</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5</string>
			<key>Name</key>
			<string>不详</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>9</string>
			<key>Name</key>
			<string>其他</string>
		</dict>
	</array>
	<key>GuoMinYuan</key>
	<array>
		<dict>
			<key>ID</key>
			<string>201</string>
			<key>Name</key>
			<string>猪肉</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>206</string>
			<key>Name</key>
			<string>鸡、鸭等禽类食品</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>203</string>
			<key>Name</key>
			<string>牛肉</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>204</string>
			<key>Name</key>
			<string>牛奶</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>205</string>
			<key>Name</key>
			<string>蛋及蛋制品</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>9</string>
			<key>Name</key>
			<string>其他过敏源</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>1</string>
			<key>Name</key>
			<string>药物</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>101</string>
			<key>Name</key>
			<string>青霉素类抗生素</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>102</string>
			<key>Name</key>
			<string>磺胺类抗生素</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>103</string>
			<key>Name</key>
			<string>头孢类抗生素</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>104</string>
			<key>Name</key>
			<string>含碘药品</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>105</string>
			<key>Name</key>
			<string>酒精</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>106</string>
			<key>Name</key>
			<string>镇静麻醉剂</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>199</string>
			<key>Name</key>
			<string>其他药物过敏源</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2</string>
			<key>Name</key>
			<string>食物</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4</string>
			<key>Name</key>
			<string>混合性过敏源</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>399</string>
			<key>Name</key>
			<string>其他环境过敏源</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>303</string>
			<key>Name</key>
			<string>空气粉尘</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>302</string>
			<key>Name</key>
			<string>动物毛发</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>301</string>
			<key>Name</key>
			<string>植物花粉</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3</string>
			<key>Name</key>
			<string>环境</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>299</string>
			<key>Name</key>
			<string>其他食物过敏源</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>208</string>
			<key>Name</key>
			<string>水果（包括带壳的果仁）</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>207</string>
			<key>Name</key>
			<string>鱼、虾等水产类食品</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>202</string>
			<key>Name</key>
			<string>羊肉</string>
		</dict>
	</array>
	<key>HuJiType</key>
	<array>
		<dict>
			<key>ID</key>
			<string>1</string>
			<key>Name</key>
			<string>本地户口</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2</string>
			<key>Name</key>
			<string>非本地户口</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3</string>
			<key>Name</key>
			<string>非本地户口居住一年以上</string>
		</dict>
	</array>
	<key>HunYin</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>Name</key>
			<string>未婚</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>20</string>
			<key>Name</key>
			<string>已婚</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>21</string>
			<key>Name</key>
			<string>初婚</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>22</string>
			<key>Name</key>
			<string>再婚</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>23</string>
			<key>Name</key>
			<string>复婚</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>30</string>
			<key>Name</key>
			<string>丧偶</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>40</string>
			<key>Name</key>
			<string>离婚</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>90</string>
			<key>Name</key>
			<string>未说明的婚姻状况</string>
		</dict>
	</array>
	<key>MingZu</key>
	<array>
		<dict>
			<key>ID</key>
			<string>1</string>
			<key>Name</key>
			<string>汉族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2</string>
			<key>Name</key>
			<string>蒙古族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3</string>
			<key>Name</key>
			<string>回族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4</string>
			<key>Name</key>
			<string>藏族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5</string>
			<key>Name</key>
			<string>维吾尔族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>6</string>
			<key>Name</key>
			<string>苗族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>7</string>
			<key>Name</key>
			<string>彝族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>8</string>
			<key>Name</key>
			<string>壮族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>9</string>
			<key>Name</key>
			<string>布依族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>Name</key>
			<string>朝鲜族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>Name</key>
			<string>满族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>Name</key>
			<string>侗族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>Name</key>
			<string>瑶族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>14</string>
			<key>Name</key>
			<string>白族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>15</string>
			<key>Name</key>
			<string>土家族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>16</string>
			<key>Name</key>
			<string>哈尼族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>17</string>
			<key>Name</key>
			<string>哈萨克族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>18</string>
			<key>Name</key>
			<string>傣族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>19</string>
			<key>Name</key>
			<string>黎族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>20</string>
			<key>Name</key>
			<string>傈僳族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>21</string>
			<key>Name</key>
			<string>佤族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>22</string>
			<key>Name</key>
			<string>畲族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>23</string>
			<key>Name</key>
			<string>高山族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>24</string>
			<key>Name</key>
			<string>拉祜族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>25</string>
			<key>Name</key>
			<string>水族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>26</string>
			<key>Name</key>
			<string>东乡族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>27</string>
			<key>Name</key>
			<string>纳西族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>28</string>
			<key>Name</key>
			<string>景颇族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>29</string>
			<key>Name</key>
			<string>柯尔克孜族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>30</string>
			<key>Name</key>
			<string>土族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>31</string>
			<key>Name</key>
			<string>达斡尔族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>32</string>
			<key>Name</key>
			<string>仫佬族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>33</string>
			<key>Name</key>
			<string>羌族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>34</string>
			<key>Name</key>
			<string>布朗族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>35</string>
			<key>Name</key>
			<string>撒拉族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>36</string>
			<key>Name</key>
			<string>毛南族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>37</string>
			<key>Name</key>
			<string>仡佬族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>38</string>
			<key>Name</key>
			<string>锡伯族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>39</string>
			<key>Name</key>
			<string>阿昌族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>40</string>
			<key>Name</key>
			<string>普米族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>41</string>
			<key>Name</key>
			<string>塔吉克族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>42</string>
			<key>Name</key>
			<string>怒族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>43</string>
			<key>Name</key>
			<string>乌兹别克族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>44</string>
			<key>Name</key>
			<string>俄罗斯族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>45</string>
			<key>Name</key>
			<string>鄂温克族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>46</string>
			<key>Name</key>
			<string>德昂族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>47</string>
			<key>Name</key>
			<string>保安族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>48</string>
			<key>Name</key>
			<string>裕固族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>49</string>
			<key>Name</key>
			<string>京族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>50</string>
			<key>Name</key>
			<string>塔塔尔族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>51</string>
			<key>Name</key>
			<string>独龙族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>52</string>
			<key>Name</key>
			<string>鄂伦春族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>53</string>
			<key>Name</key>
			<string>赫哲族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>54</string>
			<key>Name</key>
			<string>门巴族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>55</string>
			<key>Name</key>
			<string>珞巴族</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>56</string>
			<key>Name</key>
			<string>基诺族</string>
		</dict>
	</array>
	<key>RHXueXing</key>
	<array>
		<dict>
			<key>ID</key>
			<string>1</string>
			<key>Name</key>
			<string>Rh阴性</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2</string>
			<key>Name</key>
			<string>Rh阳性</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3</string>
			<key>Name</key>
			<string>不详</string>
		</dict>
	</array>
	<key>XueLi</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>Name</key>
			<string>研究生</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>20</string>
			<key>Name</key>
			<string>大学本科</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>30</string>
			<key>Name</key>
			<string>大学专科和专科学校</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>40</string>
			<key>Name</key>
			<string>中等专业学校</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>50</string>
			<key>Name</key>
			<string>技工学校</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>60</string>
			<key>Name</key>
			<string>高中</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>70</string>
			<key>Name</key>
			<string>初中</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>80</string>
			<key>Name</key>
			<string>小学</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>90</string>
			<key>Name</key>
			<string>文盲或半文盲</string>
		</dict>
	</array>
	<key>ZhiYe</key>
	<array>
		<dict>
			<key>ID</key>
			<string>0</string>
			<key>Name</key>
			<string>国家机关,党群组织,企业,事业单位负责人</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>1/2</string>
			<key>Name</key>
			<string>专业技术人员</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3</string>
			<key>Name</key>
			<string>办事人员和有关人员</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4</string>
			<key>Name</key>
			<string>商业,服务业人员</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5</string>
			<key>Name</key>
			<string>农,林,牧,渔,水利业生产人员</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>6</string>
			<key>Name</key>
			<string>生产,运输设备操作人员及有关人员</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>X</string>
			<key>Name</key>
			<string>军人</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Y</string>
			<key>Name</key>
			<string>不便分类的其他从业人员</string>
		</dict>
	</array>
</dict>
</plist>
